*{
	margin: 0rem;
	height: 0rem;
	list-style: none;
}
html,body{
	background: #F5F6FA;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	overflow: scroll;
	}
a{
	text-decoration: none;
	color:#6695CF;
}
header{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.header1{
	width: 100%;
	height: auto;
	position: fixed;
}
.daohang{
	width: 100%;
	height: 0.4rem;
 	
}	
.daohang>img{
	width: 100%;
	height: 100%;
}
.logo{
	width: 100%;
	height: auto;
	background: #0078E6;
	overflow: hidden;
	
}

.logo .logobox{
	width: 10%;
	height: auto;
	float: left;
	overflow: hidden;
	padding-left: 3rem;
}
.logobox>img{
	width: 100%;
	height: 0.68rem;
	margin:0 auto;
	padding: 0.2rem 0;	
}
.logo i{
	padding-left: 0.2rem;
	font-size: 0.4rem;
	font-style: normal;
	color: #FFFFFF;
	line-height:1.08rem;
    text-align: center;
}

.banner{
	width: 100%;
	height: auto;
	overflow: hidden;
}	
.banner>img{
	margin-top: 1rem;
	width: 100%;
	height: 100%;
}
.guanyu{
	width: 100%;
	height: auto;
	background: #F5F6FA;
	overflow: hidden;
}
.guanyu1{
	width: 34%;
	height: 100%;
	overflow: hidden;
}
.guanyu1 p{
	display: block;
	padding-top: 0.3rem;
	padding-bottom:0.3rem;
	padding-left: 0.2rem;
	width: 100%;
	height: 100%;
	font-size: 0.28rem;
	font-style: normal;
}
.guanyu1 p>em,p>i{
		font-style: normal;
}



.content{
	width: 95%;
	height: auto;
	margin: 0 auto;
	margin-top: 0.3rem;
	background: white;
	overflow: hidden;
}
.content ul{
	width: 100%;
	height: auto;

	overflow: hidden;
}
.content ul li {
    width: 1.55rem;
    height: 1.96rem;
    float: left;
    margin-right: 0.25rem;
    margin-bottom: 0.32rem;
    text-align: center;
    font-size: 0.24rem;
    color: #000;
}
.content ul li:nth-child(4){
	margin-right: 0rem;
}
.content ul li a {
    display: block;
    width: 100%;
    height: 1.56rem;
    border-radius: 0.25rem;
    background-color: #fff;
    margin-bottom: 0.16rem;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.content ul li a div.li_1 {
    background: #fff url(../img/shouye6.png) 0 0 no-repeat;
    background-size: 2rem;
}
.content ul li a div.li_2 {
    background: #fff url(../img/shouye6.png) -0.98rem 0rem no-repeat;
    background-size: 2rem;
}
.content ul li a div.li_3 {
    background: #fff url(../img/shouye6.png) 0.15rem -1.1rem no-repeat;
    background-size: 2rem;
}
.content ul li a div.li_8 {
    background: #fff url(../img/ufo.png) no-repeat;
    background-size: 100%;
}
.content ul li a div.li_4 {
    background: #fff url(../img/shouye6.png) -0.98rem -1.1rem no-repeat;
    background-size: 2rem;
}
.content ul li a div.li_7 {
    background: #fff url(../img/shouye6.png) 0rem -3.3rem no-repeat;
    background-size: 2rem;
}
.content ul li a div.li_5 {
    background: #fff url(../img/shouye6.png) 0.1rem -2.2rem no-repeat;
    background-size: 2rem;
}
.content ul li a div.li_6 {
    background: #fff url(../img/shouye6.png) -0.98rem -2.2rem no-repeat;
    background-size: 2rem;
}
.content ul li a div {
    width: 1.05rem;
    height: 1.05rem;
}


.server {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom:1rem;
    overflow: hidden;
}
.server .title {
    width: 100%;
    height: 0.63rem;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    line-height: 0.63rem;
    font-size: 0.24rem;
    color: #1378ba;
}
.server ul{
	width: 100%;
	height: auto;
}
.server ul.col-1 {
    width: 100%;
    height: 2.18rem;
    border-bottom: 1px solid #e8e8e8;
}
.server ul.col-1 li {
    float: left;
    width: 50%;
    height: 100%;
    border-right: 1px solid #e8e8e8;
    padding: 0.38rem 0rem 0.48rem 0.16rem;
    box-sizing: border-box;
}
.server ul.col-1 li a{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.server ul.col-1 li .left {
    width: 1.8rem;
    float: left;
    height: 100%;
}
.server ul.col-1 li .left h2 {
	display: block;
    font-size: 0.24rem;
    font-weight: normal;
    color: #000000;
}
.server ul.col-1 li .left h3 {
	display: block;
	padding-top: 0.4rem;
    font-size: 0.18rem;
    font-weight: normal;
    color: #999999;
}
.server ul.col-1 li .right {
    width: 1.5rem;
    height: 100%;
    float: left;
    background: #fff url(../img/shouye6.png) 0 -4.4rem no-repeat;
    background-size: 2rem;
}
.server ul.col-1 li:last-child .right {
    background: #fff url(../img/shouye6.png) 0 -5.9rem no-repeat;
    background-size: 2rem;
}
style.css:332
.server ul.col-1 li .right {
    width: 1.5rem;
    height: 100%;
    float: left;
}

.server ul.col-2 {
    width: 100%;
    height: 1.38rem;
    border-bottom: 1px solid #e8e8e8;
}
.server ul.col-2 li {
    float: left;
    width: 33.33%;
    height: 100%;
    border-right: 1px solid #e8e8e8;
    padding: 0.4rem 0 0.38rem 0.2rem;
    box-sizing: border-box;
}

.server ul.col-2 li .left {
    width: 20%;
    height: 100%;
    float: left;
    background: #fff url(../img/shouye6.png) 0 -7.4rem no-repeat;
    background-size: 2rem;
}

.server ul.col-2 li .right {
    width: 70%;
    margin-left: 0.1rem;
    float: left;
    height: 100%;
}
.server ul.col-2 li .right h2 {
	display: block;
	padding-bottom: 0.1rem;
    font-size: 0.24rem;
    color: #000000;
    font-weight: normal;
}
.server ul.col-2 li .right h3 {
	display: block;
	padding-top: 0.3rem;
    font-size: 0.18rem;
    color: #999999;
    font-weight: normal;
    line-height: 0.3rem;
}


.contact {
    width: 100%;
    height: 0.9rem;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 0.2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 0.08rem rgba(0,0,0,0.1);
}
.contact .contact-list {
    width: 100%;
    height: 100%;
    background: #e7e7e7;
}
.contact a {
    width: 30%;
    height: 0.8rem;
    float: left;
}
.contact a div {
    width: 100%;
    height: 100%;
    font-size: 0.24rem;
    color: #000;
    text-align: left;
    line-height: 0.9rem;
    background: #e7e7e7;
}
.contact a div.part2 {
    background-color: #ff8d12;
    border-radius: 0.08rem;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 0.15rem #ff8d12;
}
.contact a div.part3 {
    text-align: right;
    position: relative;
}
.contact a div i {
    width: 0.32rem;
    height: 0.32rem;
    background: url(../img/shouye6.png) -1.6rem -4.4rem no-repeat;
    background-size: 2rem;
    float: left;
    line-height: 0.9rem;
    margin-top: 0.28rem;
    margin-left: 0.27rem;
}
.contact a div span {
    float: left;
    font-size: 0.26rem;
    margin-left: 0.1rem;
}
.contact a div.part1 i {
    background: url(../img/qq.png) 0 0 no-repeat;
    background-size: 100%;
}
.contact a div.part2 i {
    width: 0.36rem;
    height: 0.36rem;
    background: url(../img/shouye6.png) -1.6rem -4.78rem no-repeat;
    background-size: 2rem;
    display: inline-block;
    line-height: 0.9rem;
    margin-left: 0.7rem;
}
.contact a div.part2 span {
    float: left;
    font-size: 0.3rem;
    font-weight: bold;
}

.contact .phone {
    width: 40%;
    height: 0.9rem;
    position: relative;
    z-index: 99999;
    box-shadow: 0 0 0.08rem rgba(255,126,0,0.1);
    margin-top: -0.1rem;
}
.bottom {
    width: 100%;
    height: 0.8rem;
}